<div>
    <div class='about-heading'>{{title}}</div>
    <div class='about-description'>{{description}}</div>
    <div class='list-heading'>{{listTitle}}</div>
    <div class='about-component'>
        <div class='control-item' *ngFor="let item of controlList">
            <span class="icon-{{item.control | lowercase}} e-sb-icon control-icon"></span>
            <span class='control-name'>{{item.control}}</span>
        </div>
    </div>
	<div>
		<button id="download-btn" class="e-btn small e-info">
			<a href="https://github.com/syncfusion/ej2-sample-ng-expensetracker" target="_blank" style="color: #fff;text-decoration: none !important;">Download the source</a>
		</button>
	</div>
</div>