//sass-lint:disable-all
@import 'definition/material.scss';
$accent: #4273F9;
$accent-font: #fff;
@import 'ej2-base/styles/material-definition.scss';
@import 'ej2-base/styles/all.scss';
@import 'ej2-buttons/styles/button/definition.scss';
@import 'ej2-buttons/styles/button/material-definition.scss';
@import 'ej2-buttons/styles/button/all.scss';
@import 'ej2-calendars/styles/calendar/definition.scss';
@import 'ej2-calendars/styles/calendar/material-definition.scss';
@import 'ej2-calendars/styles/calendar/all.scss';
@import 'ej2-buttons/styles/check-box/definition.scss';
@import 'ej2-buttons/styles/check-box/material-definition.scss';
@import 'ej2-buttons/styles/check-box/all.scss';
@import 'ej2-navigations/styles/context-menu/definition.scss';
@import 'ej2-navigations/styles/context-menu/material-definition.scss';
@import 'ej2-navigations/styles/context-menu/all.scss';
@import 'ej2-calendars/styles/datepicker/definition.scss';
@import 'ej2-calendars/styles/datepicker/material-definition.scss';
@import 'ej2-calendars/styles/datepicker/all.scss';
@import 'ej2-calendars/styles/daterangepicker/material-definition.scss';
@import 'ej2-calendars/styles/daterangepicker/all.scss';
@import 'ej2-popups/styles/dialog/definition.scss';
@import 'ej2-popups/styles/dialog/material-definition.scss';
@import 'ej2-popups/styles/dialog/all.scss';
@import 'ej2-dropdowns/styles/drop-down-base/definition.scss';
@import 'ej2-dropdowns/styles/drop-down-base/material-definition.scss';
@import 'ej2-dropdowns/styles/drop-down-base/all.scss';
@import 'ej2-dropdowns/styles/drop-down-list/definition.scss';
@import 'ej2-dropdowns/styles/drop-down-list/material-definition.scss';
@import 'ej2-dropdowns/styles/drop-down-list/all.scss';
@import 'ej2-grids/styles/grid/definition.scss';
@import 'ej2-grids/styles/grid/material-definition.scss';
@import 'ej2-grids/styles/grid/all.scss';
@import 'ej2-navigations/styles/h-scroll/definition.scss';
@import 'ej2-navigations/styles/h-scroll/material-definition.scss';
@import 'ej2-navigations/styles/h-scroll/all.scss';
@import 'ej2-inputs/styles/input/definition.scss';
@import 'ej2-inputs/styles/input/material-definition.scss';
@import 'ej2-inputs/styles/input/all.scss';
@import 'ej2-lists/styles/list-view/definition.scss';
@import 'ej2-lists/styles/list-view/material-definition.scss';
@import 'ej2-lists/styles/list-view/all.scss';
@import 'ej2-dropdowns/styles/multi-select/definition.scss';
@import 'ej2-dropdowns/styles/multi-select/material-definition.scss';
@import 'ej2-dropdowns/styles/multi-select/all.scss';
@import 'ej2-inputs/styles/numerictextbox/definition.scss';
@import 'ej2-inputs/styles/numerictextbox/material-definition.scss';
@import 'ej2-inputs/styles/numerictextbox/all.scss';
@import 'ej2-grids/styles/pager/definition.scss';
@import 'ej2-grids/styles/pager/material-definition.scss';
@import 'ej2-grids/styles/pager/all.scss';
@import 'ej2-popups/styles/popup/all.scss';
@import 'ej2-buttons/styles/radio-button/definition.scss';
@import 'ej2-buttons/styles/radio-button/material-definition.scss';
@import 'ej2-buttons/styles/radio-button/all.scss';
@import 'ej2-popups/styles/spinner/definition.scss';
@import 'ej2-popups/styles/spinner/material-definition.scss';
@import 'ej2-popups/styles/spinner/all.scss';
@import 'ej2-calendars/styles/timepicker/definition.scss';
@import 'ej2-calendars/styles/timepicker/material-definition.scss';
@import 'ej2-calendars/styles/timepicker/all.scss';
@import 'ej2-navigations/styles/toolbar/definition.scss';
@import 'ej2-navigations/styles/toolbar/material-definition.scss';
@import 'ej2-navigations/styles/toolbar/all.scss';
@import 'ej2-popups/styles/tooltip/definition.scss';
@import 'ej2-popups/styles/tooltip/material-definition.scss';
@import 'ej2-popups/styles/tooltip/all.scss';
